@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}










#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
 
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}



a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#330033;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.wrapper{
    width: 400px;
    height: 590px;
    color:  #000;
    top:  60%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color: #000;
    text-align: center;
    margin-bottom:8%;
    font-family:Courgette;

}
.wrapper input{
    width: 100%;
    margin-bottom: 20px;
    
}

.wrapper input[type=text] , .wrapper input[type=password] {

    border: none;
    border-bottom: 1px solid #ddd;
    /* background : transparent; */
    outline: none;
    height: 30px;
    font-size:16px;
    opacity:1;
    color: #000;
    position: relative;
    
    
}
.wrapper input [type=submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.wrapper input [type=submit] :hover{
    cursor:pointer;
}


form .field{
    position: relative;
}
form .field .hideShowBtn{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size:20px;
    font-weight: 300;
    display: none;
}
form .indicator{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    display: none;
}
form .indicator span{
    width:100%;
    height:100%;
    background: lightgrey;
    border-radius: 5px;
    position: relative;
}
form .indicator span.medium{
    margin: 0 3px;
}
form .indicator span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    background: red;
    border-radius:5px;
}
form .indicator span.weak{
    background-color: #ff4757;
}
form .indicator span.medium{
    background-color: orange;
}
form .indicator span.strong{
    background-color: #23ad5c;
}
form .note{
    text-align: center;
    display: none;
}
form .note.weak{
    background-color: #ff4757;
}
form .note.medium{
    background-color: orange;
}
form .note.strong{
    background-color: #23ad5c;
}
body{
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  font-family : Poppins;
  background-attachment: fixed;
}

